<h1> All the event that <%= @user.email %> has created are as follow </h1>
<ol>
  <% @user.events.each do |eve| %>
    <li>
      <h3>  <%= eve.title %> </h3>
       <p> description: <%= eve.description %> </p>
       <p> location: <%= eve.event_location %> </p>
       <p> date and time <%= eve.event_date %> </p>
    </li>
  <% end %>
</ol>


<h1>  List of Events this user attended: </h1>
<ol>
  <% @user.attended_events.each do |eve| %>
    <li>
      <h3>  <%= eve.title %> </h3>
    </li>
  <% end %>
</ol>